
@{
    ViewBag.Title = "Calculator";
}

<style>
    #bet-selection-table th{
        text-align:center;
    }
   
    .bet-selection-win-odd-cell{
        padding-left:0 !important;
        padding-right:0 !important;
    }

</style>

<h3 class="text-center">Bet Calculator</h3>
<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <br />
        <form>
            <fieldset>
                <legend>Bet Type</legend>

                <div class="form-group">
                    <select id='selectedBetType'>
                        <optgroup label="Basic">
                            <option value="1">Single</option>
                            <option value="2">Double</option>
                            <option value="3">Treble</option>
                            <option value="4">Accumulator</option>
                        <optgroup>
                        <optgroup label="Full Cover">
                            <option value="5">Trixie</option>
                            <option value="6">Yankee</option>
                            <option value="7">Canadian</option>
                            <option value="8">Heinz</option>
                            <option value="9">Super Heinz</option>
                            <option value="10">Goliath</option>
                            <option value="11">Block</option>
                        </optgroup>
                        <optgroup label="Full Cover With Singles">
                            <option value="12">Patent</option>
                            <option value="13">Yap</option>
                            <option value="14">Lucky 15</option>
                            <option value="15">Lucky 31</option>
                            <option value="16">Lucky 63</option>
                            <option value="17">Super Heinz with Singles</option>
                            <option value="18">Goliath with Singles</option>
                            <option value="19">Block with Singles</option>
                        </optgroup>
                        <optgroup label="Any To Come">
                            <option value="20">SSA</option>
                            <option value="21">DSA</option>
                            <option value="22">Round Robin</option>
                            <option value="23">Flag</option>
                            <option value="24">Super Flag</option>
                            <option value="25">Heinz Flag</option>
                            <option value="26">Super Heinz Flag</option>
                            <option value="27">Goliath Flag</option>
                        </optgroup>
                        <optgroup label="Speciality">
                            <option value="28">Rounder</option>
                            <option value="29">Roundabout</option>
                            <option value="30">Fivespot</option>
                            <option value="31">Pontoon</option>
                            <option value="32">Magnificent 7</option>
                            <option value="33">Alphabet</option>
                            <option value="34">Bookies Nightmare</option>
                            <option value="35">Union Jack Treble</option>
                            <option value="36">Union Jack Trixie</option>
                            <option value="37">Union Jack Patent</option>
                            <option value="38">Union Jack Round Robin</option>
                        </optgroup>
                    </select>
                </div>
            </fieldset>

            <br />

            <fieldset>
                <legend>
                    Bet Options <a data-toggle="tooltip" class="tooltip-link" data-original-title="Bet type options">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </legend>

                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-5 col-xs-6">
                            <label class="control-label">Unit Stake</label>
                            <div><small>minimum: 0.01</small></div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <input id="unitStake" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5 col-xs-6">
                            <label class="control-label">Each Way</label>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-default each-way-toggle" data-each-way-value ="yes">Yes</button>
                                <button type="button" class="btn btn-default each-way-toggle" data-each-way-value ="no">No</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5 col-xs-6">
                            <label class="control-label">Number of Selections</label>
                            <div><small>1.2</small></div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <input id="bet-selection-count" class="form-control" type="text">
                        </div>
                        <div class="col-md-2 col-xs-2 pl0">
                            <button id="set-bet-selection" type="button" class="btn btn-default">Set</button>
                        </div>
                    </div>

                </div>
            </fieldset>

            <br />

            <fieldset>
                <legend>
                    Selections <a data-toggle="tooltip" class="tooltip-link" data-original-title="Selections">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </legend>
                <table class="table" id="bet-selection-table">

                    <thead>
                        <tr>
                            <th>...</th>
                            <th>Status</th>
                            <th colspan="3">Win Odds</th>
                            <th>Place</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td width="9%"><button type="button" class="btn btn-default">1</button></td>
                            <td width="30%">
                                <select class="bet-status-picker">
                                    <option value="won">Won</option>
                                    <option value="placed">Placed</option>
                                    <option value="lost">Lost</option>
                                    <option value="voidnr">Void NR</option>
                                </select>
                            </td>
                            <td width="20%" class="bet-selection-win-odd-cell">
                                <input type="number" class="form-control win-odd-numerator" value="1">
                            </td>
                            <td width="1%" style="vertical-align:middle">
                                <span class="win-odd-slash">/</span>
                            </td>
                            <td width="20%" class="bet-selection-win-odd-cell">
                                <input type="number" class="form-control win-odd-denominator" value="1">
                            </td>
                            <td width="20%">
                                <select class="bet-placement-picker won">
                                    <option value="1">1/1</option>
                                    <option value="2">1/2</option>
                                    <option value="3">1/3</option>
                                    <option value="4">1/4</option>
                                    <option value="5">1/5</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </fieldset>

            <fieldset>
                <legend>Calculate Bet</legend>

                
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <button id="reset-bet" type="button" class="btn btn-default">Reset</button>
                            <button id="calculate-bet" type="button" class="btn btn-primary">Calculate</button>
                        </div>
                    </div>
                
            </fieldset>

            <fieldset>
                <legend>Results </legend>
                <table class="table table-bordered" id="result-table-1">

                    <thead>
                        <tr>
                            <th class="text-center">Unit Stake</th>
                            <th class="text-center">Bets</th>
                            <th class="text-center">Total Stake</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">1</td>
                            <td class="text-center">1</td>
                        </tr>
                        
                    </tbody>
                </table>

                <table class="table table-bordered" id="result-table-1">

                    <thead>
                        <tr>
                            <th class="text-center">Total Return</th>
                            <th class="text-center">Total Profit</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">2.0</td>
                            <td class="text-center">1.0</td>
                        </tr>

                    </tbody>
                </table>
            </fieldset>

        </form>

    </div>

    <div class="col-md-3"></div>
</div>


@Html.Partial("_BetOptionModal")

@section scripts{
    <script src="~/app/vendors/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/app/js/betCalculator.js"></script>
}

@section customStyles{
    <link href="~/app/vendors/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />   
}